.textarea-container {
  display: flex;
  flex-direction: column;
}

.textarea-label {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
}

.textarea-div {
  font-size: 16px;
  line-height: 24px;
  min-height: 180px;
  display: block;
  resize: none;
  outline: none;
  box-shadow: none;
  font-family: inherit;
  word-break: keep-all;
  &:empty:not(:focus)::before {
    content: attr(placeholder);
    color: #757575;
  }
}

.texaarea-simple-bar {
  margin-top: 4px;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 8px;
}

.textarea-simple-bar.error {
  border: 1px solid red;
}
